{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ asset("css/css.css") }}" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="{{ asset("css/login.css") }}">
    <div style="background-image: url('{{ asset('images/login-background.jpg') }}'); background-size: cover; background-position: center; background-attachment: fixed; padding: 100px; border-radius: 10px;">
        <div class="container">
            <form method="post">

                {% for label, messages in app.flashes %}
                    <div class="alert alert-{{ label }}">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if app.user %}
                    <div class="mb-3" style="text-align: center">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}

                <h1 style="text-align: center; font-size: 35px">Connexion</h1>
                <label for="username">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                <br>

                <label for="password">Mot de passe</label>
                <div class="password-container">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                    <span class="eye-icon" onclick="togglePasswordVisibility('password')" aria-label="Toggle visibility for password">
        <img src="{{ asset('images/eye.png') }}" style="width: 20px; cursor: pointer;">
    </span>
                </div>




                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <p><a href="/reset/password">Mot de passe oublié ?</a></p>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" style="border-color: black">Se connecter</button>
                </div>

            </form>
        </div>
    </div>
    <br>

    <script src="{{ asset("js/generatePassword.js") }}">
    </script>
{% endblock %}
