{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.date_naiss) }}
    {{ form_row(registrationForm.adresse) }}
    {{ form_row(registrationForm.cp) }}
    {{ form_row(registrationForm.ville) }}

    {# Champ de mot de passe avec boutons pour afficher et générer le mot de passe #}
    <div class="password-field">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
        }) }}
        {% set randomPassword = [] %}
        {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
        {% set numbers = '0123456789' %}
        {% set caracter = '&#!@^$¨,;/§' %}

        {% for i in 1..12 %}
            {% set randomCharacter = random(alpha ~ alpha|upper ~ numbers ~ caracter ~ '-_') %}
            {% set randomPassword = randomPassword|merge([randomCharacter]) %}
        {% endfor %}
        {% set randomPassword = randomPassword|join %}

        <img src="{{ app_url }}/images/eyes.png" style="width: 20px" onclick="togglePasswordVisibility('{{ registrationForm.plainPassword.vars.id }}') ">
        <button type="button" onclick="generatePassword('{{ registrationForm.plainPassword.vars.id }}')">Générer</button>
    </div>

    {{ form_row(registrationForm.agreeTerms) }}
    <button type="submit" class="btn btn-primary">S'inscrire</button>
    {{ form_end(registrationForm) }}

    {# JavaScript pour le champ de mot de passe #}
    <script>
        function togglePasswordVisibility(fieldId) {
            const passwordField = document.getElementById(fieldId);
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
        }
        function generatePassword(fieldId) {
            const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789&#!@^$¨,;/§-_";
            let password = "";
            for (let i = 0; i < 12; i++) {
                const randomIndex = Math.floor(Math.random() * charset.length);
                password += charset[randomIndex];
            }
            document.getElementById(fieldId).value = password;
        }

    </script>
{% endblock %}
