{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block content %}

    <link href="{{ asset('css/css.css') }}" rel="stylesheet">
    <a href="{{ path('app_accueil_profil', {'id_user': app.user.id }) }}" class="btn btn-primary">Retour</a>
    <br><br>

    {{ form_start(profilForm) }}

    {# Uncomment each line to find the problematic field #}
    {{ form_row(profilForm.nom) }}
    {{ form_row(profilForm.prenom) }}
    {{ form_row(profilForm.date_naiss) }}
    {{ form_row(profilForm.adresse) }}
    {{ form_row(profilForm.code_postal) }}
    {{ form_row(profilForm.ville) }}


    <button type="submit"  class="btn btn-primary"><a href="accueil/profil" style="color: white">Modifier</a></button>


    {{ form_end(profilForm) }}


{% endblock %}
