{% extends 'base.html.twig' %}

{% block title %}Supprimer le profil{% endblock %}

{% block content %}

    <link href="{{ asset('css/css.css') }}" rel="stylesheet">
    <link href="{{ asset('css/stationFavoris.css') }}" rel="stylesheet">
    <a href="{{ path('app_accueil_profil', {'id_user': app.user.id }) }}" class="btn btn-primary">Retour</a>
    <br><br>
    <div class="container">

        <h1 style="text-align: center">Supprimer mon compte</h1>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}.
            </div>


            <div>
                <p>Souhaitez-vous vraiment supprimer votre compte ? Cette action est irréversible.</p>

                {# Formulaire avec protection CSRF pour la suppression du profil #}
                <form action="{{ path('app_delete_profil') }}" method="post">
                    {# Protection CSRF #}
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_account') }}">

                    <button type="submit" class="btn btn-danger" style="display: block;
   margin : auto;">Supprimer mon compte</button>
                </form>
            </div>
        {% else %}
            <div class="alert alert-warning">
                Vous devez être connecté pour accéder à cette page.
            </div>
        {% endif %}
    </div>
    <br>
{% endblock %}
