{% extends 'base.html.twig' %}

{% block title %}Stations favoris{% endblock %}

{% block content %}

    <link href="{{ asset('css/css.css') }}" rel="stylesheet">


    <a href="{{ path('app_favori', {'id_user': app.user.id }) }}" class="btn btn-primary">Retour</a>
    <br><br>

    <!-- Barre de recherche -->
    <input type="text" id="stationSearch" class="form-control mb-3" placeholder="Rechercher une station...">

    {% for station in stationsNonFav %}
        <div class="card mb-3 station-card" data-station-id="{{ station.station_id }}">
            <div class="card-body d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">{{ station.name }}</h5>
                <br><button class="btn btn-primary"  onclick="addToFavorites('{{ station.station_id }}', {{ station.name|json_encode() }})">Ajouter aux favoris</button>

            </div>
        </div>
    {% endfor %}

    <!-- Script de filtrage des stations -->
    <script>
        document.getElementById('stationSearch').addEventListener('input', function () {
            let searchValue = this.value.toLowerCase();
            let stations = document.querySelectorAll('.station-card');

            stations.forEach(station => {
                let stationName = station.querySelector('.card-title').textContent.toLowerCase();
                if (stationName.includes(searchValue)) {
                    station.style.display = 'block';
                } else {
                    station.style.display = 'none';
                }
            });
        });
    </script>

    <script src="{{ asset('js/favoriProfil.js') }}"></script>

{% endblock %}


